Implementations/.ipynb_checkpoints

Implementations/__pycache__

.ipynb_checkpoints/

articlesDataset/

queryDataset/

pre-trained-models/

pre_trained_models/

raw_data/

articles_dataset/

dataset/

bert/

ACM_SIGMOD_Contest/

train_embedding_models/

train_data/

*.log

*.tsv

*.h5

*.py

*.csv

